/*
 *	Contains all convenience methods used by other less-files. Also, this thing contains some convenience classes
 */
@borderized-color: #e5e5e5;
@borderized: 10px solid @borderized-color;
@borderized-iphone: 7px solid @borderized-color;
@borderized-position: relative;

.full-width-override {
	.full-width() !important;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.full-both {
	.full-width();
	.full-height();
}

.desaturate(@amount) {
	-webkit-filter: grayscale(@amount);
	-moz-filter: grayscale(@amount);
	filter: grayscale(@amount);
}

.text-shadow(@distance, @blur, @alpha) {
	text-shadow: 0 @distance @blur rgba(150, 150, 150, @alpha);
}

.float(@placement) {
	float: @placement;
}

.padding(@size) {
	padding: @size;
}

.margin(@size) {
	margin: @size;
}

.overflow() {
	overflow: hidden;
}

.centralized {
	text-align: center;
}

.centralized-important {
	text-align: center !important;
}

.center-me {
	.centralized-div();
}

.centralized-div() {
	.centralized;
	overflow: hidden;
	display: block;
}

.centralized-div-simple() {
	width: 90%;
	margin: 0 auto;
}

.borderized {
	position: @borderized-position;
}

.borderized-lower {
	border-bottom: @borderized;
	.borderized();
	@media(max-width:@iphone5-width) {
		border-bottom: @borderized-iphone;;
	}
}

.borderized-upper {
	border-top: @borderized;
	.borderized();
}

/* stylish GUI-stuff */

.socialico, .socialico-ext {
	font-size: @social_font-size;
	.font_socialico-regular;
	opacity: .24;
	color: @splash-color;
	text-shadow: none;
	transition: opacity 0.25s, zoom 0.15s;
	&:hover {
		opacity: 1;
		zoom: 110%;
	}
	@media(max-width:@iphone5-width) {
		opacity: .5;
		font-size: 1.8em;
		&:hover{font-size:1.8em;}
	}
}
.socialico-ext {
	.font_socialico-extended;
}

.arrow-lower {
	position: relative;
	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #13d0a8;
		border-width: 26px;
		margin-left: -26px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: @borderized-color;
		border-width: 39px;
		margin-left: -39px;
	}
	@media(max-width:@iphone5-width) {
		&:after {
			border-width: 18px;
			margin-left: -18px;
		}
		&:before {
			border-width: 28px;
			margin-left: -28px;
		}
	}
}

/* lists */

.list-wrapper {
	ul.list {
		list-style:none;
		.margin(0);
		.padding(0);
		&.list_one-line {
		};
		li {
			display: inline-block;
			.margin(0 5px);
		};
	}
	@media(max-width:@iphone5-width) {
		font-size: .8em;
		margin-top: 40px;
	}
}
