.skew {
    &.skew-left {
      transform: rotate(-5deg);
    }
    &.skew-minor-left {
      transform: rotate(-2deg);
    }
    &.skew-right {
      transform: rotate(5deg);
    }
    &.skew-minor-right {
      transform: rotate(2deg);
    }
}

/* used in regards to stuff where parallax effects is used :-) */
.parallax-background {
  position: relative;
  height: 200%;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.notch {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 49.6vw solid transparent;
  border-right: 49.2vw solid transparent;
  border-bottom: 70px solid #fff;
  z-index: 15;
  pointer-events: none;
  -moz-transform: scale(1.0001);
}
