footer {
	width: 100%;
	height: 150px;
	display: table;
	background: @footer_color;
	float: left;
	.borderized-upper;
	.centralized-important();
	color: @background_color;
	.container {
		padding-top: 55px;
	}
	@media(max-width:@iphone5-width) {
		height: 80px;
		.tiny();
		.container {
			padding-top: 0;
		}
	}
}
