/*
	Using the famous LESS-language to do several things to my css-files used within my site

	@description vegaasen.com less configuraiton css file
	@version 5.0.0-SNAPSHOT
*/

/* Globals */
@splash-color: #ffffff;
@splash-background_color: #13d0a8;
@footer_color: #363636;
@background_color: #f5f5f5;
@iphone5-width: 650px;
@tablet-width: 1100px;

//@import "fonts.less";
