/*
 *	Contains all convenience methods used by other less-files. Also, this thing contains some convenience classes
 */
@borderized-color: #e5e5e5;
@borderized: 10px solid @borderized-color;
@borderized-position: relative;

.full-width {
	width: 100%;
	height: 100%;
}

.desaturate(@amount) {
	-webkit-filter: grayscale(@amount);
	-moz-filter: grayscale(@amount);
	filter: grayscale(@amount);
}

.text-shadow(@distance, @blur, @alpha) {
	text-shadow: 0 @distance @blur rgba(150, 150, 150, @alpha);
}

.float(@placement) {
	float: @placement;
}

.padding(@size) {
	padding: @size;
}

.margin(@size) {
	margin: @size;
}

.overflow() {
	overflow: hidden;
}

.centralized {
	text-align: center;
}

.center-me {
	.centralized-div();
}

.centralized-div() {
	.centralized;
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	display: block;
}

.borderized {
	position: @borderized-position;
}

.borderized-lower {
	border-bottom: @borderized;
	.borderized();
}

.borderized-upper {
	border-top: @borderized;
	.borderized();
}

/* stylish GUI-stuff */

.socialico, .socialico-ext {
	font-size: @social_font-size;
	.font_socialico-regular;
	opacity: .14;
	color: @splash-color;
	text-shadow: none;
	transition: opacity 0.25s, font-size 0.15s;
	&:hover {
		
		opacity: 1;
		font-size: 3em;
	}
}
.socialico-ext {
	.font_socialico-extended;
}

.arrow-lower {
	position: relative;
	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #13d0a8;
		border-width: 26px;
		margin-left: -26px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: @borderized-color;
		border-width: 39px;
		margin-left: -39px;
	}
}

/* lists */

.list-wrapper {
	ul.list {
		list-style:none;
		.margin(0);
		.padding(0);
		&.list_one-line {
		};
		li {
			display: inline;
			.margin(0 5px);
		};
	}
}