/*
 	All defaults which relates to e.g body, container, div etc goes here.
*/

.selection() {
	background-color: @splash-background_color;
}

body {
	background-color: @background_color;
	.margin(0);
	.padding(0);
}

a {
	color: @splash-background_color;
	text-decoration: none;
}

::selection {
  .selection();
}

::-moz-selection {
  .selection();
}

.container {
	width: 100%;
	height: auto;
	.margin(20px 0);
	&.fixed {
		height: 700px;
	};
	&:first-of-type {
		.margin(0);
	}	
}