/*
 	All defaults which relates to e.g body, container, div etc goes here.
*/

body {
	.margin(0);
	.padding(0);
}

.container {
	width: 100%;
	height: auto;
	.borderized-lower();
	&.fixed {
		height: 700px;
	};
}