/* All registered fonts goes here. */

@font-face {
    font-family: 'texgyrecursorregular';
    src: url('/resources/fonts/texgyrecursor-regular-webfont.eot');
    src: url('/resources/fonts/texgyrecursor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/texgyrecursor-regular-webfont.woff') format('woff'),
         url('/resources/fonts/texgyrecursor-regular-webfont.ttf') format('truetype'),
         url('/resources/fonts/texgyrecursor-regular-webfont.svg#texgyrecursorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}