/* All that has to do with the heading-part */
.splash {
	font-family: "texgyrecursorregular", verdana, monospace;
	background-color: @splash-background_color;
	.text-shadow(3px, 0, 0.55);
	.overflow();
	.full-width();
	.wrapper {margin-top: 250px;}
	h1 {
		color:@splash-color;
		font-size: 3.5em;
		margin-bottom: 0;
	};
	h2 {
		color:@splash-color;
		margin-top: 0;
		font-size: 2.5em;
	};
}